@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.pixelBg');
    color: theme('colors.pixelText');
    font-family: theme('fontFamily.pixel');
  }
}